.crew_row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
}

.crew_col_1 {
    text-align: center;
    flex: 1;
    padding: 0 15px;
}

.crew_col_2 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex: 5;
    justify-content: center;
}
