.crew_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 3rem 0;
  
}
.crew_nav img {
    width: 300px;
    height: 300px;
}

.crew_nav .head {
    margin-bottom: 50px;
}

.crew_nav .head .h5{
    font-weight: bold;
}

.crew_nav .body .nav-link {
    padding: 1.5rem 0;
}
.nav{
    border:solid 1px black;
    width:250px;
}
