.custom_slide {
    background-color: lightgray;
    padding: 0 20px;
}

.slider_list {
    text-align: center;
}

.slick-slide img {
    display: inline !important;
}

.slider_list > img {
    width: 10rem;
    height: 12rem;
}
