.custom_slide {
    padding: 30px 20px;
}

.slider_list {
    text-align: center;
}

.slick-slide img {
    display: inline !important;
}

.slider_list > img {
    width: 12rem;
    height: 14rem;
}

.slick-prev:before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    content: '' !important;
    position: absolute;
    background-image: url('/image/left.svg');
    background-repeat: no-repeat;
    vertical-align: middle;
    background-size: 30px;
}

.slick-next:before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -10px;
    width: 30px;
    height: 30px;
    content: '' !important;
    position: absolute;
    background-image: url('/image/right.svg');
    background-repeat: no-repeat;
    vertical-align: middle;
    background-size: 30px;
    opacity: 1;
}
